 .container {
    border: none;
    background-color: transparent;
    cursor: pointer;
     .conteudoProduto {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         flex-direction: column;
         margin: 25px;
         width: 350px;
         height: 500px;
         padding: 15px;
         border-radius: 30px;
         border: 10px solid #B70000;

         img {
             border-radius: 20px;
             width: 300px;
             height: 300px;
         }

         h3 {
             align-self: flex-start;
             margin-top: 5px;
             text-align: left;
             margin-left: 15px;
             font-family: "K2D Extra Bold";
             font-size: clamp(16px, 2vw, 28px);
         }

         p {
             font-family: "K2D Bold";
             align-self: flex-start;
             margin-top: 5px;
             text-align: left;
             font-size: 18px;
             margin-left: 20px;
         }

         .buttonGroup {
             display: flex;
             flex-direction: row;
             justify-content: space-between;
             width: 100%;
             height: 60px;
           

             .buttonCarrinho {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 100%;
                background-color: #B70000;
                border: none;
                border-radius: 20px;
                color: #fff;
                font-family: "K2D Extra Bold";
                font-size: 20px;

                 #carrinhoImg {
                     border-radius: 0px;
                     width: 25px;
                     height: 25px;
                     margin-left: 10px;
                 }

                 &:hover {
                     transition: 0.3s linear;
                     background-color: #00ff00;
                     border: #00ff00;
                 }
             }
         }
     }
 }