.MenuEstilo {
    * {
        margin: 0px;
        box-sizing: border-box;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 30px;
        height: 100%;
        min-height: 895px;
        flex-wrap: wrap;

        .mainConteudo {
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: relative;
            flex-direction: column;
            border-radius: 50px;
            width: 100%;
            max-width: 1380px;
            height: 100%;
            min-height: 895px;
            background-color: #E5E5E5;
            padding: 30px;
            border: #fff double 25px;
            flex-wrap: wrap;

            .titulo {
                border: #E5E5E5 double 25px;
                align-self: flex-start;
                padding: 15px;
                background-color: #fff;
                width: 100%;
                border-radius: 50px;

                h1 {
                    margin-left: 20px;
                    font-family: 'K2D Extra Bold';
                    font-size: 32px;
                }
            }

            .conteudo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                width: 100%;
                height: 100%;

                .dados {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    border-radius: 50px;
                    padding: 20px;
                    border: #E5E5E5 double 20px;
                    background-color: white;
                    align-self: flex-start;
                    max-width: 430px;

                    .infosUser {
                        align-self: flex-start;
                        justify-self: flex-start;

                        img {

                            border-radius: 30px;
                            height: 100%;
                            width: 100%;
                            max-width: 350px;
                            max-height: 350px;
                        }

                        h3 {
                            font-size: 32px;
                            margin-bottom: 5px;
                            margin-left: 20px;
                            margin-top: 5px;
                            font-family: 'K2D Extra bold';
                        }

                        p {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            margin-left: 30px;
                            font-family: 'K2D Medium';
                            font-size: 20px;

                            strong {
                                font-family: 'K2D Extra Bold'
                            }

                        }

                    }

                    button {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        border-radius: 0px;
                        width: 100%;
                        border: none;
                        padding: 10px;
                        background-color: #E5E5E5;
                        border-radius: 20px;
                        cursor: pointer;
                        font-family: 'K2d Extra Bold';
                        font-size: 20px;

                        img {
                            width: 46px;
                            height: 30px;
                        }

                        &:hover {
                            transition: 0.3s linear;
                            background-color: #B70000;
                        }
                    }
                }

                .opcos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    position: relative;
                    background-color: white;
                    padding: 20px;
                    border-radius: 50px;
                    width: 100%;
                    height: 100%;
                    min-height: 649px;
                    border: #E5E5E5 double 20px;

                    h3 {
                        align-self: flex-start;
                        justify-self: flex-start;
                        font-size: 32px;
                        margin-bottom: 5px;
                        margin-left: 20px;
                        margin-top: 5px;
                        font-family: 'K2D Extra bold';
                    }

                    .bntOpcoes {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: relative;
                        width: 100%;

                        .quadrado1 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            margin-top: 20px;
                            font-family: 'K2D Medium';
                            font-size: 20px;

                            button {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                padding-left: 25px;
                                padding-right: 25px;
                                text-align: left;
                                width: 100%;
                                font-family: 'K2D Extra Bold';
                                border-radius: 50px;
                                font-size: 20px;
                                height: 60px;
                                border: none;
                                cursor: pointer;

                                img {
                                    margin-left: auto;
                                }

                                svg {
                                    margin-right: 5px;
                                }
                            }
                        }

                        .quadrado2 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            margin-top: 20px;
                            font-family: 'K2D Medium';
                            font-size: 20px;

                            button {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                padding-left: 25px;
                                padding-right: 25px;
                                text-align: left;
                                width: 100%;
                                font-family: 'K2D Extra Bold';
                                border-radius: 50px;
                                font-size: 20px;
                                height: 60px;
                                border: none;
                                cursor: pointer;

                                img {
                                    margin-left: auto;
                                }

                                svg {
                                    margin-right: 5px;
                                }
                            }
                        }

                        .quadrado3 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            margin-top: 20px;
                            font-family: 'K2D Medium';
                            font-size: 20px;

                            button {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                padding-left: 25px;
                                padding-right: 25px;
                                text-align: left;
                                width: 100%;
                                font-family: 'K2D Extra Bold';
                                border-radius: 50px;
                                font-size: 20px;
                                height: 60px;
                                border: none;
                                cursor: pointer;

                                img {
                                    margin-left: auto;
                                }

                                svg {
                                    margin-right: 5px;
                                }
                            }
                        }

                        .quadrado4 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            margin-top: 20px;
                            font-family: 'K2D Medium';
                            font-size: 20px;

                            button {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                padding-left: 25px;
                                padding-right: 25px;
                                text-align: left;
                                width: 100%;
                                font-family: 'K2D Extra Bold';
                                border-radius: 50px;
                                font-size: 20px;
                                height: 60px;
                                border: none;
                                cursor: pointer;

                                img {
                                    margin-left: auto;
                                }

                                svg {
                                    margin-right: 5px;
                                }
                            }
                        }

                        .quadrado5 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            margin-top: 20px;
                            font-family: 'K2D Medium';
                            font-size: 20px;

                            button {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                padding-left: 25px;
                                padding-right: 25px;
                                text-align: left;
                                width: 100%;
                                font-family: 'K2D Extra Bold';
                                border-radius: 50px;
                                font-size: 20px;
                                height: 60px;
                                border: none;
                                cursor: pointer;

                                img {
                                    margin-left: auto;
                                }

                                svg {
                                    margin-right: 5px;
                                }
                            }
                        }

                        .quadrado6 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            margin-top: 20px;
                            font-family: 'K2D Medium';
                            font-size: 20px;

                            button {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                padding-left: 25px;
                                padding-right: 25px;
                                text-align: left;
                                width: 100%;
                                font-family: 'K2D Extra Bold';
                                border-radius: 50px;
                                font-size: 20px;
                                height: 60px;
                                border: none;
                                cursor: pointer;

                                img {
                                    margin-left: auto;
                                }

                                svg {
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 780px) {
        main {
            padding: 10px;
            margin: 0px;
            min-height: auto;

            .mainConteudo {
                padding: 10px;
                height: 100%;
                min-height: auto;
                flex-direction: column;

                .titulo {
                    display: none;
                }

                .conteudo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .dados {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column !important;

                        img {
                            height: 100%;
                            max-height: 290px;
                        }

                        .infosUser {

                            flex-direction: column !important;

                            h3 {
                                font-size: 26px;
                            }

                            p {
                                text-align: left;
                                margin: 10px;
                            }
                        }
                    }

                    .opcos {
                        height: 100%;
                        min-height: auto;

                        h1 {
                            font-size: 22px;
                        }

                        h2 {
                            font-size: 18px;
                            margin-left: 0px;
                        }

                        button {

                            svg {}
                        }
                    }
                }
            }
        }
    }
}