.ProdutoEstilo {
    * {
        margin: 0px;
        box-sizing: border-box;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 30px;
        height: 100%;
        min-height: 895px;
        flex-wrap: wrap;

        .mainConteudo {
            display: flex;
            position: relative;
            flex-direction: column;
            border-radius: 50px;
            width: 100%;
            max-width: 1380px;
            height: 100%;
            min-height: 895px;
            background-color: #E5E5E5;
            padding: 30px;
            border: #fff double 25px;
            flex-wrap: wrap;

            .titulo {
                border: #E5E5E5 double 25px;
                align-self: flex-start;
                padding: 15px;
                background-color: #fff;
                width: 100%;
                border-radius: 50px;

                h1 {
                    margin-left: 20px;
                    font-family: 'K2D Extra Bold';
                    font-size: 32px;
                }
            }


            .buscaEcadastro {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                margin-top: 20px;
                margin-bottom: 5px;
                .pesquisa {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    background-color: #fff;
                    border-radius: 50px;
                    width: 69%;
                    height: 70px;

                    input[type=text] {
                        font-family: 'K2D Medium';
                        width: 94%;
                        padding: 12px 30px;
                        margin: 8px 0;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        border-radius: 20px;
                        &::placeholder{
                            font-size: 16px;
                            font-family: "K2D SemiBold"
                        }
                    }

                    img {
                        position: static;
                        display: flex;
                        align-self: center;
                        justify-self: center;
                        margin-left: 30px;
                        margin-right: 30px;
                        cursor: pointer;
                    }

                }

                a {
                    width: 275px;
                    margin-left: 20px;
                    padding: 10px;
                    height: 70px;
                    background-color: #001D3D;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    text-decoration: none;
                    font-family: 'K2D Extra Bold';
                    border-radius: 50px;
                    font-size: 18px;
                    svg {
                        height: 25px;
                        margin-right: 8px;
                    }
                }

            }

            .tabelaProduto {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                font-family: 'K2D Medium';
                overflow-y: auto;
                overflow-x: auto;
                width: 100%;

                P {
                    text-align: center;
                    margin-top: 10px;
                    font-family: 'K2D Bold';
                }

                table {
                    width: 97%;
                    border-radius: 50px;
                    border-collapse: separate;
                    border-spacing: 0 10px;

                    th {
                        
                        font-size: 20px;
                        height: 40px;
                    }

                    .Conteudo {
                        width: 100%;
                        flex-direction: row;
                        background-color: #fff;
                        color: black;
                        font-size: 16px;
                        font-family: 'K2D Medium';
                        text-align: center;
                        padding: 30px;
                        height: 50px;

                        .primeiro {
                            border-top-left-radius: 50px;
                            border-bottom-left-radius: 50px;

                            img {
                                margin-right: 10px;
                            }
                        }

                        .final {
                            border-top-right-radius: 50px;
                            border-bottom-right-radius: 50px;
                        }

                        td {

                            padding: 17.5px;
                            height: 50px;
                            font-size: 16px;

                            button,
                            a {
                                border: none;
                                background-color: transparent;
                                cursor: pointer;

                                svg {
                                    height: 30px;
                                }

                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .tabeleMobile {
                display: none;
                align-items: center;
                justify-content: center;
                font-family: 'K2D Medium';
                overflow-y: auto;
                overflow-x: auto;
                width: 97%;
                height: 100%;

                P {
                    text-align: center;
                    margin: 50px;
                    font-family: 'K2D Bold';
                }

                table {
                    width: 97%;
                    border-radius: 50px;
                    border-collapse: separate;
                    border-spacing: 0 10px;

                    th {
                        font-size: 16px;
                        height: 40px;
                    }

                    .Conteudo {
                        width: 100%;
                        flex-direction: row;
                        background-color: #fff;
                        color: black;
                        font-size: 16px;
                        font-family: 'K2D Medium';
                        text-align: center;

                        height: 50px;

                        .primeiro {
                            border-top-left-radius: 50px;
                            border-bottom-left-radius: 50px;

                            img {
                                margin-right: 10px;
                            }
                        }

                        .final {
                            width: 130px;
                            flex-direction: row;
                            border-top-right-radius: 50px;
                            border-bottom-right-radius: 50px;
                            padding: 5px;
                        }

                        td {


                            height: 50px;
                            font-size: 14px;

                            button,
                            a {

                                border: none;
                                background-color: transparent;
                                cursor: pointer;

                                svg {
                                    height: 25px;
                                    width: 25px;

                                }

                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }

    dialog {
        overflow-x: hidden;
        overflow-y: hidden;
        transition: 0.8s;
        font-family: 'K2D Bold';
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: none;
        border-radius: 20px;
        max-width: 80%;
        max-height: 80%;
        min-width: 400px;
        font-size: 18px;
        text-align: center;
        z-index: 2;

        button {

            margin-top: 20px;
            background-color: black;
            border-radius: 20px;
            color: white;
            border: none;
            height: 40px;
            width: 100px;
            font-size: 14px;
            font-family: 'K2D Bold';
            cursor: pointer;

        }

        .sim {
            margin-right: 20px;

            &:hover {
                transition: 0.2s;
                background-color: #4ac204;
            }
        }

        .nao {
            &:hover {
                transition: 0.2s;
                background-color: red;
            }
        }

        &::backdrop {
            transition: 0.8s;
            background-color: rgb(0, 0, 0 / .5);
            opacity: 0.4;
        }
    }

    @media screen and (max-width: 430px) {
        main {
            padding: 20px;

            .mainConteudo {
                padding: 30px;

                .titulo {


                    h1 {}
                }

                .buscaEcadastro {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .pesquisa {

                        input[type=text] {}

                        img {}

                    }

                    a {
                        flex-wrap: wrap;
                        width: 100%;
                        margin-top: 20px;
                        margin-left: 0px;

                        svg {}
                    }

                }

                .tabelaProduto {
                    display: none;
                }

                .tabeleMobile {
                    display: flex;
                }
            }
        }
    }
}