/*Import de Fonts*/

@font-face {
    font-family: 'K2D Extra Bold';
    src: url(../assets/font/K2D-ExtraBold.ttf);
}
@font-face {
    font-family: 'K2D Bold';
    src: url(../assets/font/K2D-Bold.ttf);
}
@font-face {
    font-family: 'K2D Light';
    src: url(../assets/font/K2D-Light.ttf);
}
@font-face {
    font-family: 'K2D Medium';
    src: url(../assets/font/K2D-Medium.ttf);
}
@font-face {
    font-family: 'K2D SemiBold';
    src: url(../assets/font/K2D-SemiBold.ttf);
}   
@font-face {
    font-family: 'Sport';
    src: url(../assets/font/Sport.ttf);
}   
@font-face {
    font-family: 'Krike Decor';
    src: url(../assets/font/KrinkesDecorPERSONAL.ttf);
}   
@font-face {
    font-family: 'Krike Regular';
    src: url(../assets/font/KrinkesRegularPERSONAL.ttf);
}   