.VizualizarProdutoEstilo {
    * {
        margin: 0px;
        box-sizing: border-box;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 30px;
        height: 100%;
        flex-wrap: wrap;

        .mainConteudo {
            align-items: center;
            display: flex;
            position: relative;
            flex-direction: column;
            border-radius: 50px;
            width: 100%;
            max-width: 1380px;
            background-color: #E5E5E5;
            padding: 30px;
            border: #fff double 25px;
            flex-wrap: wrap;

            .voltar {
                display: flex;
                align-self: flex-start;
                justify-content: center;
                margin: 20px;
                margin-bottom: 0px;

                a {
                    color: #000;
                    background-color: #fff;
                    padding: 10px 20px;
                    border-radius: 50px;
                    text-decoration: none;
                    font-size: 12px;
                    font-family: 'K2D Extra Bold';
                    text-align: left;

                    h1 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    svg {
                        margin-right: 5px;
                        width: 30px;
                        height: 32px;
                    }
                }
            }

            #titulo {
                font-family: 'K2D Bold';
                align-self: flex-start;
                margin-left: 50px;
                margin-top: 20px;
                margin-bottom: 20px;
                font-family: 'K2D Extra Bold';
                font-size: 32px;
            }

            .conteudo {
                padding: 20px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                width: 100%;
                border-radius: 50px;
                border: #E5E5E5 double 20px;
                background-color: white;

                .carrosselProd {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 50%;

                    .imagemAtual {
                        width: 100%;
                        max-width: 400px;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .botaoAnterior,
                    .botaoProximo {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 40px;
                        height: 40px;
                        background-color: #000;
                        border-radius: 50%;
                        color: #fff;
                        border: none;
                        font-size: 24px;
                        font-weight: bold;
                        cursor: pointer;
                        z-index: 1;
                    }

                    .botaoAnterior {
                        left: 10px;
                    }

                    .botaoProximo {
                        right: 10px;
                    }
                }




                .infosProd {
                    width: 50%;
                    background-color: #E5E5E5;
                    padding: 40px;
                    border-radius: 50px;
                    margin: 20px;

                    h4 {
                        display: flex;

                        margin-bottom: 10px;
                        font-family: 'K2D Extra Bold';

                        p {
                            color: #515151;
                            font-family: 'K2D Light';
                        }
                    }

                    #nomeProd {
                        font-size: 42px;
                        margin-bottom: 0px;
                    }

                    #precoProd {

                        font-size: 20px;
                    }

                    #descricaoProd {
                        display: flex;
                        flex-direction: column;

                        p {
                            margin-top: 10px;
                        }
                    }

                    .variacoes {
                        h4 {
                            margin-bottom: 0px;
                        }

                        table {
                            font-family: 'K2D Medium';
                            overflow-y: auto;
                            overflow-x: auto;
                            width: 100%;
                            width: 100%;
                            border-radius: 5px;
                            border-collapse: separate;
                            border-spacing: 0 10px;

                            th {
                                font-size: 18px;
                                background-color: transparent;
                                height: 18px;
                            }

                            .Conteudo {
                                width: 100%;
                                flex-direction: row;
                                background-color: #fff;
                                color: black;
                                font-size: 16px;
                                font-family: 'K2D Medium';
                                text-align: center;
                                padding: 30px;
                                height: 40px;

                                td {
                                    height: 30px;
                                }

                                .primeiro {
                                    border-top-left-radius: 20px;
                                    border-bottom-left-radius: 20px;

                                    img {
                                        margin-right: 10px;
                                    }
                                }

                                .final {
                                    border-top-right-radius: 20px;
                                    border-bottom-right-radius: 20px;
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 430px) {
        main {
            padding: 10px;
            margin: 10px;

            .mainConteudo {
                padding: 10px;
                flex-direction: column;

                .voltar {
                    padding: 10px;
                    margin: 0px;

                    a {


                        h1 {}

                        svg {}
                    }
                }

                #titulo {
                    margin-left: 20px;
                    font-size: 26px;
                }


                .conteudo {
                    flex-direction: column;

                    .carrosselProd {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
    
                        .imagemAtual {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 90%;
                            max-width: 400px;
                            overflow: hidden;
    
                            img {
                                width: 90%;
                                height: auto;
                            }
                        }
                    }



                    .infosProd {
                        margin: 15px;
                        width: 100%;
                        padding: 20px;
                        h4 {

                            p {}
                        }

                        .variacoes {
                            h4 {}

                            table {

                                th {}

                                .Conteudo {

                                    td {}

                                    .primeiro {


                                        img {}
                                    }

                                    .final {}
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}